services:
  vector:
    image: timberio/vector:latest-alpine
    volumes:
      - ./vector:/etc/vector
    command: ["-c", "/etc/vector/vector.yaml"]
    ports:
      - '514:514/udp'
    container_name: vector
    depends_on:
      - loki

  loki:
    image: grafana/loki:latest
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    container_name: loki

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=false
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - ./grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    container_name: grafana
    depends_on:
      - loki
